.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 55%;
}


.button {
    background: #444;
}

.button:hover {
    color: #b0a200;
}

.button:focus, button:active {
    outline: none !important;
    box-shadow: none;
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.center {
    vertical-align: text-after-edge;
    margin: auto;
    text-align: justify;
}

ul {
    list-style-type: none;
}

form {
    padding-right: 35px;
    backdrop-filter: drop-shadow(4px 4px 10px blue);

}
