.navbar .navbar-nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    .navbar .navbar-collapse {
        text-align: center;
        height: 100vh;
    }
}

header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

header .social li a {
    color: black;
}

header .social li a:hover {
    color: #b0a200;
}

.navbarPadding {
    padding-top: 70px;
}

.centerText {
    vertical-align: middle;
    margin: auto;
    width: 85%;
    text-align: center;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

