.carousel{
    padding-right: 200px;
    padding-left: 200px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.35);
}

.container-fluid {
    padding-bottom: 90px;
}

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel .carousel-inner {
    height: 500px
}

.carousel-inner .carousel-item img {
    min-height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel{
        padding-right: 50px;
        padding-left: 50px;
    }
    .carousel .carousel-inner {
        height: auto;
    }
}
